# transformers
torch
pandas
numpy
langchain
chromadb
# bitsandbytes
accelerate
langchain-community
# langchain_experimental
python-docx
rank_bm25
# detoxify
nest_asyncio
langfuse
# sentence_transformers
llm_guard
# langchain_huggingface
datasets
docx2txt
fastapi[standard]